# --- .NET ---
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache
*.suo
*.cache
*.vshost.exe*
*.vshost.exe.config
*.vshost.exe.manifest
*.manifest
.vs/

# --- Visual Studio Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# --- PlatformIO / ESP32 ---
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
fp-info-cache

# --- Docker ---
.docker/

# --- System & OS ---
.DS_Store
Thumbs.db

# --- Frontend ---
node_modules/
.npm/
dist/
build/

# --- Environment & Secrets ---
*.env
*.env.*
appsettings.Local.json
[Aa]ppsettings.Development.json

# --- Project Specific ---
old/
docs/sample_data.txt
